//colors
$main_brand_bg:#03A9F4;
$pelbagai_brand_bg: #E91E63;
$black: #000;
$color_athens_gray_approx: #eaedf1;
$color_turquoise_blue_approx: #68dff0;
$white: #fff;
$color_shakespeare_approx: #59abe3;
$color_wild_sand_approx: #f5f5f5;
$color_rangoon_green_approx: #1a1a1a;
$color_curious_blue_approx: #3498db;
$color_dull_lavender_approx: #ac92ec;
$color_puerto_rico_approx: #48cfad;
$color_mandy_approx: #ed5565;
$color_medium_purple_approx: #967adc;
$color_keppel_approx: #37bc9b;
$color_cerise_red_approx: #da4453;
$color_boulder_approx: #797979;
$concrete: #f2f2f2;
$color_downy_approx: #64c3c2;
$color_river_bed_approx: #424a5d;
$color_bombay_approx: #aeb2b7;
$black_17: rgba(0, 0, 0, 0.176);
$color_porcelain_approx: #f1f2f7;
$color_storm_dust_approx: #666666;
$color_my_sin_approx: #fcb322;
$color_cararra_approx: #ebebeb;
$color_desert_storm_approx: #f7f8f9;
$color_mine_shaft_approx: #2e2e2e;
$color_wild_willow_approx: #a9d96c;
$color_hit_gray_approx: #a4abbb;
$color_viking_approx: #50c8ea;
$color_gallery_approx: #eeeeee;
$color_coral_approx: #ff865c;
$color_gray_nurse_approx: #eaeaea;
$color_mountain_mist_approx: #989898;
$black_20: rgba(0, 0, 0, 0.2);
$color_ghost_approx: #c9cdd7;
$color_fuscous_gray_approx: #555555;
$color_alto_approx: #dbdce0;
$black_30: rgba(0, 0, 0, 0.3);
$color_bon_jour_approx: #dfdfe1;
$color_mischka_approx: #ccd1d9;
$color_bittersweet_approx: #ff6b6b;
$wild_sand: #f4f4f4;
$color_pumice_approx: #c6c6c6;
$color_robins_egg_blue_approx: #00c5de;
$color_mirage_approx: #1d2122;
$color_emerald_approx: #4fd98b;
$color_cadet_blue_approx: #aab2bd;
$color_picton_blue_approx: #54bae6;
$color_charade_approx: #272b34;
$color_supernova_approx: #ffcf00;
$color_silver_sand_approx: #c2c2c2;
$color_westar_approx: #dadad2;
$gallery: #efefef;
$black_50: rgba(0,0,0,0.5);
$color_jaffa_approx: #f1783c;
$color_granny_smith_apple_approx: #8fde9c;
$color_ship_gray_approx: #393d40;
$color_mako_approx: #44494e;
$color_regent_gray_approx: #889199;
$color_baltic_sea_approx: #2b2e30;
$color_atlantis_approx: #96c93c;
$color_bright_turquoise_approx: #00c6ff;
$color_blue_ribbon_approx: #0072ff;
$color_celeste_approx: #cdcdcd;
$color_olivine_approx: #99c262;
$color_sulu_approx: #c0f080;
$color_lemon_chiffon_approx: #fffbcc;
$color_submarine_approx: #bdc3c7;
$white_50: rgba(255, 255, 255, 0.5);
$color_turquoise_approx: #41cac0;
$color_outer_space_approx: #2a3542;
$color_red_approx: red;
$color_havelock_blue_approx: #5193ea;
$color_mariner_approx: #2775e2;
$color_scooter_approx: #2bb4e8;
$color_moody_blue_approx: #8075c4;
$color_mystic_approx: #e6e7ec;
$color_iron_approx: #d5d8df;
$color_black_haze_approx: #f5f6f8;
$color_mantis_approx: #78cd51;
$color_corn_approx: #f1c500;
$color_alabaster_approx: rgb(249,249,249);
